<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(../../../assets/images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Sign In
                </span>
            </div>

            <form class="login100-form">
                <div class="wrap-input100">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="username" placeholder="Enter username"
                        [(ngModel)]="login.username">
                    <!-- <span class="focus-input100"></span> -->
                </div>

                <div class="wrap-input100">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="pass" placeholder="Enter password"
                        [(ngModel)]="login.password">
                    <!-- <span class="focus-input100"></span> -->
                </div>

                <div class="container-login100-form-btn">
                    <button (click)="Login()" class="login100-form-btn">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>